<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Admin</title>
  <link rel="stylesheet" href="static/login_style.css">
</head>
<body>
  <div class="container">
    <div class="main-login">
      <div class="left-login">
        <h1>TimeScheduler . . .<br>Agende com facilidade e organize seu tempo!</h1>
        <img src="static/img/imgOrganizacao.svg" class="left-login-img" alt="imagem-animation">
      </div>
      <div class="right-login">
        <div class="card-login">
          <h1>LOGIN</h1>
          <div class="textflld">
            <label for="user">Usuário</label>
            <input type="text" id="user" name="user" placeholder="Usuário">
          </div>
          <div class="textflld">
            <label for="password">Senha</label>
            <input type="password" id="password" name="password" placeholder="Senha">
          </div>
          <button class="btn-login">Login</button>
          <!-- Link para a página de cadastro -->
          <div class="register-link">
            <p>Não tem uma conta? <a href="register">Cadastre-se aqui</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="static/login_script.js" type="module"></script>
</body>
</html>
